baseURL = "https://adlermedrado.com.br/"
languageCode = "en"
title = "Adler Medrado's corner of the web"
theme = "dark-flat"

[pagination]
  pagerSize = 10

[params]
  categories = ["development", "infosec", "mac"]
  mainSections = ["posts"]
  description = "Adler Medrado (spacexnu) - software engineer, cybersecurity enthusiast, AI practitioner, creator of FraudTalon and Sovereign-RAG. Technical content on security, AI, and digital sovereignty."
  keywords = "AI fraud detection, cybersecurity Brazil, spacexnu, Adler Medrado, FraudTalon, digital sovereignty, threat intelligence, Python, Go, Rust, security engineering"
  ogImage = "/images/fraudtalon-preview.png"
  twitterImage = "/images/fraudtalon-preview.png"

[outputs]
  home = ["HTML", "RSS"]

[permalinks]
  missives = "/missives/:slug/"

[taxonomies]
  tag = "tags"
  category = "categories"

[markup]
    defaultMarkdownHandler = 'goldmark'
    [markup.asciidocExt]
        backend = 'html5'
        extensions = []
        failureLevel = 'fatal'
        noHeaderOrFooter = true
        preserveTOC = false
        safeMode = 'unsafe'
        sectionNumbers = false
        trace = false
        verbose = false
        workingFolderCurrent = false
    [markup.asciidocExt.attributes]
    [markup.goldmark]
        [markup.goldmark.extensions]
            definitionList = true
            footnote = true
            linkify = true
            linkifyProtocol = 'https'
            strikethrough = true
            table = true
            taskList = true
            [markup.goldmark.extensions.typographer]
                apostrophe = '&rsquo;'
                disable = false
                ellipsis = '&hellip;'
                emDash = '&mdash;'
                enDash = '&ndash;'
                leftAngleQuote = '&laquo;'
                leftDoubleQuote = '&ldquo;'
                leftSingleQuote = '&lsquo;'
                rightAngleQuote = '&raquo;'
                rightDoubleQuote = '&rdquo;'
                rightSingleQuote = '&rsquo;'
        [markup.goldmark.parser]
            autoHeadingID = true
            autoHeadingIDType = 'github'
            wrapStandAloneImageWithinParagraph = true
            [markup.goldmark.parser.attribute]
                block = false
                title = true
        [markup.goldmark.renderer]
            hardWraps = false
            unsafe = true
            xhtml = false
    [markup.highlight]
        anchorLineNos = false
        codeFences = true
        guessSyntax = false
        hl_Lines = ''
        hl_inline = false
        lineAnchors = ''
        lineNoStart = 1
        lineNos = false
        lineNumbersInTable = true
        noClasses = true
        noHl = false
        style = 'monokai'
        tabWidth = 4
    [markup.tableOfContents]
        endLevel = 3
        ordered = false
        startLevel = 2
