DEPLOY_SSH_KEY = ~/.ssh/your-ssh-key
DEPLOY_USER = your-user
DEPLOY_HOST = your.server.host
DEPLOY_PATH = /path/on/remote/server

DEPLOY_ONION_USER = your-user
DEPLOY_ONION_HOST = your.server.host
DEPLOY_ONION_PATH = /path/on/remote/server
